{% extends "base.html" %}

{% block header %}
    {%if request.user.is_superuser == True%}
    <a href="{% url 'admin:index' %}"target='_blank'>admin</a>
    {%endif%}
    
{% endblock %}

{% block sidebar %}

{%if request.user.status == 'Преподаватель'%}
    {%for g in groups%}
       <p>Группы: {{g}}</p>
    {%endfor%}
{%endif%}

Статус: {{request.user.status}}  {% if request.user.group_as_student %}Группа: {{request.user.group_as_student.number}}{%endif%}
<form action=""method='post'enctype='multipart/form-data'>
    {%csrf_token%}
   
    {% if request.user.image %}
        <img src="{{user.image.url}}" alt="avatar"width='150px'height='150px'>
    {% else %}
        <h2>Нет аватарки</h2>
    {% endif %}
        
   
    {%for f in form%}
        <p>{{f.label_tag}}</p>
        <p>{{f}}</p>
    {%endfor%}


    <button type='submit'>Обновить профиль</button>
</form>
<h2>Хотите сменить пароль, перейдите по ссылке ---->>>
<a href="{% url 'users:change_password' %}">Сменить пароль</a></h2>

{%if request.user.status == 'Студент'%}
Расписание для студентов
{%elif request.user.status == 'Преподаватель'%}
Расписание для преподавателя
{%endif%}
{% endblock %}