* {
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 200px;
    background-color: yellowgreen;
}
.sidebar{
    width: 100%;
    height: 1200px;
    background-color: yellow;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: yellowgreen;
}