{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
        {%block header%}
        {%endblock%}
        {%if not request.user.is_authenticated%}
            <a href="{% url 'users:login_user' %}">Войти</a>
            <a href="{% url 'users:logout_user' %}">Выйти</a>
        {%else%}
            <h2>{{request.user.username}}, {{request.user.status}}</h2>
            <a href="{% url 'users:logout_user' %}">Выйти</a>
            <a href="{% url 'users:profile' %}">Личный кабинет</a>
        {%endif%}
    </div>
    <div class="sidebar">
        {%block sidebar%}
        {%endblock%}
    </div>
    <div class="footer">
        {%block footer%}
        {%endblock%}
    </div>
</body>
</html>